<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certi Gen</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/f729ac2968.css"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
</html>
